{% set grid_size = theme_var('grid-size') %}

<section id="modular" class="section">
    <section class="container {{ grid_size }}">
        <div class="columns">
            <div class="column col-12 col-md-12">
                {{ content|raw }}
                {% include "forms/form.html.twig" %}
            </div>
        </div>
    </section>
</section>